<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>DASHBOARD</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<body>
<div class="col-md-4">
		<h1>Dashboard</h1>
	</div>
	<div class="col-md-4">
		<h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
	<div th:if="${#httpServletRequest.remoteUser == 'admin'}">
		<a class="btn btn-info" href="/courselist">See all courses</a>
	</div>
	<div th:unless="${#httpServletRequest.remoteUser == 'admin'}">
		<a class="btn btn-info" href="/studentlist">See all students</a>
	</div>
</body>
</html>