<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Studentlist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css"rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
</head>
<body>
	<h1>Students</h1>
	<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
		</form>
	</div>
    <table class="table table-striped">
		<tr><th>Id</th><th>Firstname</th><th>Lastname</th><th></th></tr>
		<tr th:each="student : ${students}">
			<td th:text="${student.id}"></td>
			<td th:text="${student.firstName}"></td>
			<td th:text="${student.lastName}"></td>
			<td>
				<a class="btn btn-secondary" th:href="@{/edit/{id}(id=${student.id})}">Edit</a>
				<a class="btn btn-danger" th:href="@{/delete/{id}(id=${student.id})}">Delete</a>
				<a class="btn btn-info" th:href="@{/manage/{id}(id=${student.id})}">Manage</a>
			</td>
		</tr>
	</table>
<a class="btn btn-success"href="/add">Add a new student</a>
</body>
</html>